
root = true

[*]
indent_size = 4
indent_style = space
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = tab
dotnet_sort_system_directives_first = false
dotnet_style_qualification_for_field = true

[*.csproj]
indent_size = 2
insert_final_newline = false
